---
import Layout from "../layouts/Layout.astro";
import jsIcon from "../assets/js.svg";
import cssIcon from "../assets/css3.svg";
import htmlIcon from "../assets/html.svg";
import { Image } from "astro:assets";
---

<Layout title="CodeNotes">
  <div class="wrapper">
    <div class="roles">
      <div id="html"></div>
      <div class="float icon-tech">
        <Image src={htmlIcon} alt="html5-icon" />
      </div>
    </div>

    <div class="gutter-row gutter-row-1"></div>

    <div class="roles">
      <div id="css"></div>
      <div class="float icon-tech">
        <Image src={cssIcon} alt="css-icon" />
      </div>
    </div>

    <div class="gutter-row gutter-row-3"></div>

    <div class="roles">
      <div id="javascript"></div>
      <div class="float icon-tech">
        <Image src={jsIcon} alt="javascript-icon" />
      </div>
    </div>
  </div>

  <div class="gutter-col gutter-col-1"></div>

  <div class="wrapper">
    <iframe></iframe>
  </div>


  <script>
    import Split from "split-grid";
    import { initializer } from "../libs/template";
    import { $ } from "../libs/selector";

  
    Split({
      minSize: 400,
      columnGutters: [
        {
          track: 1,
          element: $(".gutter-col-1"),
        },
      ],
    });
  
    Split({
      minSize: 100,
      rowGutters: [
        {
          track: 1,
          element: $(".gutter-row-1"),
        },
        {
          track: 3,
          element: $(".gutter-row-3"),
        },
      ],
    });
  
    initializer();
  </script>
</Layout>

